<div class="object question" data-object-class="question" data-object-id="<%= question.to_param %>">

  <div>
    <%= t '.quiz', default: :'activerecord.attributes.question.quiz' %>:
    <span class="attribute" data-attribute-name="quiz">
      <%= question.quiz.name %>
    </span>
  </div>

  <div>
    <%= t '.text', default: :'activerecord.attributes.question.text' %>:
    <span class="attribute" data-attribute-name="text">
      <%= question.text %>
    </span>
  </div>

  <%= link_to t('.edit'), edit_quiz_question_path(question.quiz, question), remote: true if can? :edit, question %>

</div>

