<div class="object quiz" data-object-class="quiz" data-object-id="<%= quiz.to_param %>">

  <div>
    <span class="attribute" data-attribute-name="name">
      <%= quiz.name %>
    </span>
  </div>

  <div>
    <%= t '.introduction', default: :'activerecord.attributes.quiz.introduction' %>:
    <span class="attribute" data-attribute-name="introduction">
      <%= quiz.introduction %>
    </span>
  </div>

  <%= link_to new_quiz_question_response_path(quiz, quiz.questions.first), class: 'button' do %>
    <i class="icon-circle-arrow-right"></i> Start!
  <% end -%>

  <%= link_to t('.edit'), edit_quiz_path(quiz), remote: true if can? :edit, quiz %>

</div>

