<%= form_tag('/auth/identity/register') do |f| %>
  <% if @identity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this identity from being saved:</h2>

      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="connect">
    <%= t('.log_in_through_other_site_html') %>
    <ul class="third-party-logins">
      <li class="login facebook">
        <%= link_to t('.log_in_with_facebook_html'), '/auth/facebook' %>
      </li>
      <% unless Rails.env.production? -%>
      <li class="login developer">
        <%= link_to t('.log_in_with_developer_html'), '/auth/developer' %>
      </li>
      <% end -%>
    </ul>
  </div>

  <%= t('.log_in_with_email_html') %>
  <%= link_to "Create an account", '/auth/identity/register' %>
  <div class="field">
    <%= label_tag :name, t('.name_html') %>
    <%= text_field_tag :name, @identity.name %>
  </div>
  <div class="field">
    <%= label_tag :unique_identifier, t('.unique_identifier_html') %><br />
    <%= text_field_tag :unique_identifier, @identity.unique_identifier %>
  </div>
  <div class="field">
    <%= label_tag :password, t('.password_html') %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation, t('.password_confirmation_html') %><br />
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
