<div class="object <%= singular_table_name %>" data-object-class="<%= singular_table_name %>" data-object-id="<%%= <%= singular_table_name %>.to_param %>">

<% attributes.each do |attribute| -%>
  <div>
    <%%= t '.<%= attribute.name %>', default: :'activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>' %>:
    <span class="attribute" data-attribute-name="<%= attribute.name %>">
      <%%= <%= singular_table_name %>.<%= attribute.name %> %>
    </span>
  </div>

<% end -%>
  <%%= link_to t('.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), remote: true if can? :edit, <%= singular_table_name %> %>

</div>

