<%%= heading t('.title') %>

<div class="objects <%= plural_table_name %>" data-objects-class="<%= singular_table_name %>">
  <%%= render @<%= plural_table_name %> %>
</div>

<%%= link_to I18n.t(:new), new_<%= singular_table_name %>_path, remote: true, if can? :new, <%= class_name %> %>
