<!DOCTYPE html>
<html class="<%= 'debug-css' if APP_CONFIG['visual_debug_info'] %>">
<head>
  <title><%= yield(:title) || "Default Title" %> • What Is Intuitive?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%# Ensure mobile devices report their real resolution. %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= body_classes %>">

  <div class="flash_messages">
    <% [:notice, :alert].each do |key| -%>
      <% if flash[key] -%>
        <div class="flash_message message_<%= key %>">
          <%= flash[key] %>
        </div>
      <% end -%>
    <% end -%>
  </div>

  <div class="overlay">
    <div class="dialog">

    </div>
  </div>

  <header>
    <nav>
      <ul class="main">
        <li><%= link_to t('.home'), root_path %></li>
        <%= content_tag :li, link_to(t('.quizzes'), quizzes_path) if can? :index, Quiz %>
        <%= content_tag :li, link_to(t('.leaderboard'), leaderboard_path) if can? :index, :leaderboard %>
      </ul>
      <ul class="authentication">
        <% if current_user -%>
          <li><%= t('.logged_in_as', user: current_user.email.to_s) %></li>
          <li><%= link_to t('.log_out'), logout_path %></li>
        <% else -%>
          <li><%= link_to t('.sign_up'), signup_path, remote: true %></li>
          <li><%= link_to t('.log_in'), login_path, remote: true %></li>
        <% end -%>
      </ul>
    </nav>
  </header>

  <div class="page">
    <%= yield %>
  </div>

  <footer>
    <nav>

    </nav>
  </footer>

</body>
</html>
